.App-header{
  background-color: rgb(173, 255, 187);
  display: flex;
  justify-content: space-around;
}

.header-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 12px;
  margin-left: 50px;
}